<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" href="{{ url_for('static', filename='/img/TwoterLogo.png') }}">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <h1>Compose</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </ul>
    
    <form action="/twote" method="post" class="center-form">
      <label for="content">Content:</label>
      <textarea name="content" id="content" cols="40" rows="5"></textarea>
      <br>

      <button type="submit">Submit</button>
    </form>
  </body>
</html>